<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
مرحوم کوبی
</font>
</h1>

In [ ]:
#!pip install -r requirements_2.txt

In [2]:
import numpy as np
import pandas as pd

In [17]:
train = pd.read_csv('nba_players_train.csv')
test = pd.read_csv('nba_players_test.csv')

train

,name,gp,min,pts,fgm,fga,fg,3p_made,3pa,3p,...,fta,ft,oreb,dreb,reb,ast,stl,blk,tov,target_5yrs
0,James Young,31,10.7,3.4,1.2,3.3,35.3,0.5,2.1,25.8,...,0.9,55.2,0.3,1.1,1.4,0.4,0.3,0.1,0.2,0
1,Michael Anderson,65,18.5,7.4,2.9,5.8,50.1,0.0,0.1,0.0,...,2.7,57.1,1.8,2.7,4.5,1.0,1.0,0.3,1.2,0
2,Kobe Bryant,71,15.5,7.6,2.5,5.9,41.7,0.7,1.9,37.5,...,2.3,81.9,0.7,1.2,1.9,1.3,0.7,0.3,1.6,1
3,Darrin Hancock,46,9.2,3.3,1.5,2.6,56.2,0.0,0.1,33.3,...,0.8,41.0,0.3,0.8,1.2,0.7,0.4,0.1,0.7,0
4,Brent Price,68,12.6,3.9,1.5,4.1,35.8,0.1,0.7,16.7,...,1.0,79.4,0.4,1.1,1.5,2.3,0.8,0.0,1.3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
933,Terry Dehere,64,11.9,5.3,2.0,5.3,37.7,0.4,0.9,40.4,...,1.3,75.3,0.4,0.7,1.1,1.2,0.4,0.1,0.9,1
934,Jordan Hamilton,26,9.9,4.4,1.8,4.3,43.2,0.7,1.8,36.2,...,0.2,40.0,0.4,2.0,2.4,0.8,0.1,0.1,0.6,1
935,David Lee,67,16.9,5.1,2.0,3.4,59.6,0.0,0.0,0.0,...,1.8,57.7,1.6,2.9,4.5,0.6,0.5,0.3,0.8,0
936,Travis Mays,64,33.5,14.3,4.6,11.3,40.6,1.1,3.1,36.5,...,5.2,77.0,0.8,1.9,2.8,4.0,1.3,0.2,2.5,0
937,Ron Harper,82,37.4,22.9,9.0,19.7,45.5,0.2,1.1,21.3,...,6.9,68.4,2.1,2.7,4.8,4.8,2.5,1.0,4.2,1

**preprocessing**

In [18]:
# do some preprocessing!
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

train['name'] = label_encoder.fit_transform(train['name'])
test['name'] = label_encoder.fit_transform(test['name'])

In [5]:
train.isnull().sum()

name           0
gp             0
min            0
pts            0
fgm            0
fga            0
fg             0
3p_made        0
3pa            0
3p             0
ftm            0
fta            0
ft             0
oreb           0
dreb           0
reb            0
ast            0
stl            0
blk            0
tov            0
target_5yrs    0
dtype: int64

In [6]:
test.isnull().sum()

name       0
gp         0
min        0
pts        0
fgm        0
fga        0
fg         0
3p_made    0
3pa        0
3p         0
ftm        0
fta        0
ft         0
oreb       0
dreb       0
reb        0
ast        0
stl        0
blk        0
tov        0
dtype: int64

In [7]:
train.columns

Index(['name', 'gp', 'min', 'pts', 'fgm', 'fga', 'fg', '3p_made', '3pa', '3p',
       'ftm', 'fta', 'ft', 'oreb', 'dreb', 'reb', 'ast', 'stl', 'blk', 'tov',
       'target_5yrs'],
      dtype='object')

In [19]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
for i in test.columns:
  train[[i]] = scaler.fit_transform(train[[i]])
  test[[i]] = scaler.fit_transform(test[[i]])

**model**

In [20]:
y=  train[['target_5yrs']]

In [21]:
x = train.copy()
x.drop(columns= ['target_5yrs'], inplace= True)

In [22]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, shuffle=True)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.25, shuffle=True)

In [23]:
# modeling
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_val)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [24]:
# evaluate model
from sklearn.metrics import roc_auc_score
roc_auc_score(y_val, y_pred)

0.6905979783217635

In [25]:
y_pred = model.predict(X_test)
roc_auc_score(y_test, y_pred)

0.6356085229324665